<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>Mon blog</h1>
        <div class="row">
            {% if g.user %}
            <a href="/posts/create">Ajouter un article</a>&nbsp;
            <a href="/auth/logout">Se déconnecter</a>
            {% else %}
            <a href="/auth/login">Login</a>&nbsp;
            <a href="/auth/register">S'enregistrer</a>
            {% endif %}
        </div>
        <ul>
            {% for post in posts %}
            <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>