<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>editPostForm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Editer les messages</h1>
    <form method="post" action="/blog/post/edit/{{ post.id }}">
        <div class="form-group">
            <label for="postTitle"></label>
            <input type="text" class="form-control" id="postTitle" aria-describedby="postTitle"
                   placeholder="Titre de l'article" name="postTitle" value="{{post.title}}">
        </div>
         <div class="form-group">
            <label for="postContent"></label>
            <input type="text" class="form-control" id="postContent" aria-describedby="postContent"
                   placeholder="Contenu de l'article" name="postContent" value="{{post.content}}">
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
        <a class="btn btn-warning" href="/">Retour</a>
    </form>
</div>
</body>
</html>